:root {
    --primary-color: #3a4052
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    scroll-behavior: smooth;
}

#showcase {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.video-container {
    height: 100vh;
    width: 100vw;
}

.video-container video {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-size: cover;
    background: var(--primary-coor) url('./cover.jpg') no-repeat center;
}

.overlay {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: #000;
    opacity: 0.5;
}

.btn {
    position: absolute;
    padding: 15px 50px 15px 50px;
    border-radius: 40px;
    text-decoration: none;
    color: #000;
    letter-spacing: 2;
    text-transform: uppercase;
    background-color: #fff;
    top: 70%;
}

#games {
    height: auto;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

#games_header {
    line-height: 75px;
}

.card_grid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 5vw);
    grid-gap: 10px;
    margin: 10px;
}

.card h1 {
    font-size: 16px;
    color: #fff;
    left: 50%;  
    top: 50%;  
    transform: translate(-50%, -50%);
    position: absolute;
    opacity: 0;
}

.card:hover h1 {
    opacity: 1;
}

.card {
    position: relative;
} 

.card-1 {
    grid-column: 1 / 5;
    grid-row: 1 / 5;
}

.card-2 {
    grid-column: 8 / 10;
    grid-row: 1 / 7;
}

.card-3 {
    grid-column: 1 / 3;
    grid-row: 5 / 8;
}

.card-4 {
    grid-column: 8 / 10;
    grid-row: 7 / 10;
}

.card-5 {
    grid-column: 5 / 8;
    grid-row: 1 / 4;
}

.card-6 {
    grid-column: 5 / 8;
    grid-row: 4 / 7;
}

.card-7 {
    grid-column: 3 / 5;
    grid-row: 5 / 10;
}

.card-8 {
    grid-column: 1 / 3;
    grid-row: 8 / 10;
}

.card-9 {
    grid-column: 5 / 8;
    grid-row: 7 / 10;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card:hover img {
    filter: brightness(50%);
}

#features {
    height: auto;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.features_display {
    display: flex;
    width: 100%;
    height: 100%;
}

#features_title {
    font-size: 16px;
    left: 50%;  
    top: 50%;  
    opacity: 0;
}

#display {
    height: 100%;
    background: url("imgs/ps5.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    flex: 50%;
}

#features_header {
    line-height: 75px;
}

.information {
    margin-top: 1%;
    overflow: scroll;
    text-align: left;
    flex: 50%;
    display: flex;
    flex-direction: column;
}

#information_key {
    line-height: 75px;
}

#information_expand {
    line-height: 15px;
}

#slogan {
    height: 40vh;
    width: 100%;
    background: url("imgs/slogan.jpeg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#sidebar {
    z-index: 1;
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    width: 300px;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    left: -300px;
}

#sidebar ul li a {
    color: #fff;
    text-decoration: none;
}

#sidebar .toggle-btn {
    position: fixed;
    left: 0px;
    cursor: pointer;
}

#sidebar.active {
    left: 0;
}

#sidebar ul {
        margin-top: 100px;
}

#sidebar ul li {
    list-style: none;
    color: #fff;
    font-size: 20px;
    padding: 20px 24px;
}

.toggle-btn span {
    width: 33px;
    height: 4px;
    background: darkgrey;
    display: block;
    margin-bottom: 5px;
    margin-left: 20px;
}

.span-1 {
    margin-top: 15px;
}

@media only screen and (max-width: 600px) {
    .card_grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(46, 5vw);
    grid-gap: 10px;
    margin: 10px;
    }
    .card-1 {
        grid-column: 1 / 14;
        grid-row: 1 / 6;
    }

    .card-2 {
        grid-column: 1 / 14;
        grid-row: 6 / 11;
    }

    .card-3 {
        grid-column: 1 / 14;
        grid-row: 11 / 16;
    }

    .card-4 {
        grid-column: 1 / 14;
        grid-row: 16 / 21;
    }

    .card-5 {
        grid-column: 1 / 14;
        grid-row: 21 / 26;
    }

    .card-6 {
        grid-column: 1 / 14;
        grid-row: 26 / 31;
    }

    .card-7 {
        grid-column: 1 / 14;
        grid-row: 31 / 36;
    }

    .card-8 {
        grid-column: 1 / 14;
        grid-row: 36 / 41;
    }

    .card-9 {
        grid-column: 1 / 14;
        grid-row: 41 / 46;
    }
}